.wcpimh-plugin #logwrapper {
	border: 1px solid #aaa;
	margin: 10px auto;
}
.wcpimh-plugin fieldset {
	padding: 20px;
	width: auto;
}
.wcpimh-plugin #loglist {
	border: 1px solid #AAAAAA;
	height: 380px;
	overflow: auto;
}
.wcpimh-plugin #loglist > p {
	margin: 0;
	padding: 3px 5px;
}
.wcpimh-plugin #loglist > p.odd {
	background: #dfdfdf;
}
.wcpimh-plugin #loglist > p.finish {
	background: #76d771;
}
.wcpimh-plugin .error {
	color: red;
}

.wcpimh-plugin .warning {
	color: orange;
}